name: Deploy Angular App to AWS ECS

on:
  push:
    branches:
      - feature/v1 # Trigger on pushes to the mentioned branch
  workflow_dispatch:

env:
  AWS_REGION: us-east-2                  # Set your preferred AWS region
  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Buildah
        uses: containers/buildah-action@v2
        with:
          # Use the Containerfile from the repo
          image: angular-s3-artifacts
          containerfiles: ./ng-web/AWS-Dockerfile

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
         role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
         aws-region: us-east-2

      - name: Deploy to S3
        run: |
          aws s3 sync ./dist/ebusiness s3://${{ secrets.S3_BUCKET_NAME }} --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
