name: Build and Deploy Angular App to AWS S3 with CloudFront

on:
  push:
  branches: [ "feature/V1" ] # Trigger the workflow on pushes to the mentioned branch(es)
  workflow_dispatch:

env:
  AWS_REGION: us-east-2
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    
