    name: Maven with Google Cloud

    on:
      # https://docs.github.com/en/actions/reference/events-that-trigger-workflows
      workflow_dispatch:
        

    jobs:
      build-and-deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Set up Java
            uses: actions/setup-java@v4
            with:
              distribution: 'temurin'
              java-version: '17'

          - name: Build with Maven
            run: mvn clean package -DskipTests

          - name: Authenticate to GCP
            uses: google-github-actions/auth@v2
            with:
              credentials_json: ${{ secrets.GCP_SA_KEY }}

          - name: Set up Cloud SDK
            uses: google-github-actions/setup-gcloud@v2

          - name: Build and push Docker image to Google Container Registry
            run: |
              gcloud auth configure-docker ${{ env.GCP_REG_LOCATION }}-docker.pkg.dev
              docker build -t ${{ env.GCP_REG_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.GCP_REPO }}/${{ env.IMG_NAME }}:latest .
              docker push ${{ env.GCP_REG_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.GCP_REPO }}/${{ env.IMG_NAME }}:latest
            env:
              GCP_PROJECT_ID: ebizflow # Replace with your GCP project ID
              GCP_REG_LOCATION: us-south1
              GCP_REPO: ebizflow-gcp
              IMG_NAME: ebizflow-gcp

          - name: Deploy to Cloud Run
            uses: google-github-actions/deploy-cloudrun@v2
            with:
              service: ebizflow-web-app # Replace with your desired Cloud Run service name
              image: ${{ env.GCP_REG_LOCATION }}-docker.pkg.dev/${{ env.GCP_PROJECT_ID }}/${{ env.GCP_REPO }}/${{ env.IMG_NAME }}:latest
              region: us-south1 # Replace with your desired GCP region
              allow-unauthenticated: false # Adjust as needed
            env:
              GCP_PROJECT_ID: ebizflow # Replace with your GCP project ID
              GCP_REG_LOCATION: us-south1
              GCP_REPO: ebizflow-gcp
              IMG_NAME: ebizflow-gcp
